@import url("https://fonts.googleapis.com/css2?family=Amiri&family=Hind+Madurai&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
}

/* Chrome was showing a heavy black border around input controls on focus.
Fix found here: https://stackoverflow.com/a/62103854 */

*,
*:focus,
*:hover {
  outline: none;
}

/* Colours---------------------------------------- */

.bg-colour-header {
  background-color: lavenderblush;
}

.bg-colour-footer {
  background-color: lavenderblush;
}

/* Fonts------------------------------------------ */

body,
input,
textarea {
  color: #515151ff;
  font-family: "Raleway", sans-serif;
}

body {
  font-size: 130%;
}

input,
textarea {
  font-size: 110%;
}

#submit {
  font-family: "Amiri", serif;
  text-transform: uppercase;
  font-size: 110%;
}

#menu a,
h2 {
  font-family: "Amiri", serif;
  font-size: 145%;
  text-transform: uppercase;
}

#menu a {
  color: inherit;
  text-decoration: none;
}

h2 {
  font-weight: 400;
}

h3 {
  font-family: "Amiri", serif;
  font-size: 110%;
  text-transform: uppercase;
  font-weight: 400;
}

/* Header----------------------------------------- */

header {
  padding-top: 30px;
}

#logo {
  background: url("../images/logo.png") no-repeat center center;
  background-size: contain;
  height: 600px;
}

/* Navigation------------------------------------- */

#menu {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  line-height: 90px;
  text-align: center;
  width: 100%;
  /* Set z-index to keep navigation bar on top */
  z-index: 2;
}

#menu li {
  display: inline;
  vertical-align: middle;
}

#menu a {
  margin: 0px 40px 0px 40px;
}

.sticky {
  position: fixed;
  top: 0;
}

.sticky + main {
  padding-top: 90px;
}

/*
Making the navigation menu sticky meant clicking the
links scrolled the requested section into position at
the top of the page, underneath the menu. The fix is to
add an anchor tag inline with the header and pad it so
that the request section is scrolled into view with an
offset added to the top which takes it clear of the
menu. Link: https://stackoverflow.com/a/13117744
*/

.anchor {
  padding-top: 110px;
}

/* Welcome---------------------------------------- */

section {
  padding: 0 16% 0 16%;
}

section h2 {
  margin-top: 20px;
  padding-bottom: 10px;
}

#welcome-section {
  margin-top: 20px;
}

#profile-photo {
  border-radius: 50%;
  float: left;
  width: 200px;
  height: 200px;
  position: relative;
  top: -40px;
}

#welcome-text {
  margin-left: 260px;
}

#welcome-section h3 {
  margin-bottom: 10px;
  margin-left: 260px;
}

/* Gallery---------------------------------------- */

#gallery-wrapper {
  clear: both;
  column-count: 3;
  column-gap: 10px;
  line-height: 0;
}

#gallery-wrapper img {
  width: 100%;
  margin-bottom: 10px;
}

/* Events----------------------------------------- */

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 40px auto;
}

.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: #515151ff;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

.container::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #c7adb6;
  top: 35%;
  border-radius: 50%;
  z-index: 1;
}

.left {
  left: -80px;
}

.right {
  left: 50%;
}

.right::after {
  left: -16px;
}

.content {
  padding: 20px 30px;
  background-color: #cce3db;
  position: relative;
  border-radius: 6px;
}

.content p {
  font-size: 80%;
}

.event-icon {
  float: left;
  font-size: 200%;
  width: 25%;
  text-align: center;
  padding-top: 3%;
}

.event-info {
  margin-left: 25%;
  width: 75%;
}

/* Contact---------------------------------------- */

#contact {
  /* Push content up above the sticky footer */
  padding-bottom: 600px;
}

#form-wrapper {
  width: 50%;
  margin: auto;
}

input,
textarea {
  font-size: 100%;
  display: block;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  margin: 0 auto 20px auto;
  padding: 8px;
  width: 100%;
}

input :hover,
:focus {
  box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.2);
}

textarea {
  /* Remove resize handle from control */
  resize: none;
}

#submit {
  width: 120px;
}

#submit:hover {
  box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.2);
}

/* Footer----------------------------------------- */

footer {
  background-color: lavenderblush;
  bottom: 0;
  box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.1);
  left: 0;
  width: 100%;
  position: fixed;
  text-align: center;
  z-index: 2;
}

footer li {
  padding-top: 10px;
  display: inline;
}

footer i {
  font-size: 200%;
  padding: 20px 0 20px 0;
  margin: 0 20px 0 20px;
  color: #515151ff;
}

/* Media queries for responsive design */
@media screen and (max-width: 1393px) {
  #welcome-section h3 {
    margin-left: 0;
  }

  #profile-photo {
    float: none;
    margin: 0 auto 20px auto;
    display: none;
    top: 0;
  }

  #gallery-wrapper {
    column-count: 2;
  }

  #welcome-text {
    margin-left: 0;
  }

  #form-wrapper {
    width: 75%;
  }

  .container {
    width: 95%;
    padding-right: 0;
  }

  .left,
  .right,
  .timeline::after {
    left: 0;
  }

  .left::after {
    left: -16px;
  }
}

@media screen and (max-width: 943px) {
  section {
    padding: 0 8% 0 8%;
  }

  #gallery-wrapper {
    column-count: 1;
    text-align: center;
  }

  #gallery-wrapper img {
    width: 90%;
  }

  #form-wrapper {
    width: 100%;
  }

  .event-icon {
    display: none;
  }

  .event-info {
    margin-left: 0%;
    width: 100%;
  }
}
